<% provide(:title, 'フォロー一覧') %>

<div class="contents-wrapper">
  <h1>フォロー中</h1>
  <%= render 'layouts/flash' %>

  <% if @users.exists? %>
    <%= render 'users/list', users: @users %>
  <% else %>
    <p>フォロー中のユーザーはいません</p>
  <% end %>
</div>
