<% provide(:title, 'User一覧') %>

<style>
  table {
    width: 100%;
  }
</style>

<div class="contents-wrapper">
  <h1>Users リスト</h1>

  <%= render 'layouts/flash' %>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>E-mail</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th><%= user.id %></th>
          <td><%= link_to user.email, user_path(user) %></td>

          <% if session[:user_id] == user.id %>
            <td>
              <%= link_to '削除', user_path(user), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'button is-danger has-text-white is-rounded' %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
