<style>
  div.header-wrapper {
    width: 100%;
  }

  header.hero {
    background-color: #D4ECEA;
    color: #4A9A98;
  }

  h1.title {
    color: #4A9A98;
    text-arigen: center;
  }
</style>

<div class="header-wrapper">
  <header class="hero is-small">
    <div class="hero-body">
      <h1 class="title has-text-centered">さみだれ</h1>

      <% if current_user.present? %>
        <p class="current-user"><%= current_user.email %>でログイン中です</p>
      <% end %>
    </div>
  </header>
</div>