<% provide(:title, '投稿編集') %>

<div class="contents-wrapper">
  <h1>投稿編集</h1>

  <%= render 'layouts/flash' %>
  <%= render 'posts/form', { submit_word: '編集完了', back_path: post_path(@post) } %>
</div>
