<% provide(:title, '新規ポスト') %>
<% provide(:submit_word, '投稿する') %>
<% provide(:back_path, posts_path) %>

<div class="contents-wrapper">
  <h1>新規ポスト</h1>

  <%= render 'layouts/flash' %>
  <%= render 'posts/form' %>
</div>